* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, #fff, #ccc);
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 3px solid #000;
}

.grid-item{
    border: 1px solid #000;
    font-size: 30px;
}

/* row 1 */
.grid-item:first-child {
    grid-column: 1 / span 3;
}

.grid-item:nth-child(2) {
    grid-column: 4 / span 2;
}

.grid-item:nth-child(3) {
    grid-column: 6 / span 2;
}

.grid-item:nth-child(4) {
    grid-column: 8 / span 2;
}

.grid-item:nth-child(5) {
    grid-column: 10 / span 3;
}

/* row 2 */
.grid-item:nth-child(6) {
    grid-row: 2;
    grid-column: 1 / span 12;
    margin-bottom: 20px;
}

/* row 3 */
.grid-item:nth-child(7) {
    grid-row: 3;
    grid-column: 4 / span 2;
    margin-bottom: 20px;
}

.grid-item:nth-child(8) {
    grid-row: 3;
    grid-column: 6 / span 2;
    margin-bottom: 20px;
}

.grid-item:nth-child(9) {
    grid-row: 3;
    grid-column: 8 / span 2;
    margin-bottom: 20px;

}

/* row 4 */
.grid-item:nth-child(10) {
    grid-row: 4;
    grid-column: 3 / span 8;
    margin-bottom: 20px;
}

/* row 5 */
.grid-item:nth-child(11) {
    grid-row: 5;
    grid-column: 1 / span 3;
    margin-bottom: 20px;
}

.grid-item:nth-child(12) {
    grid-row: 5;
    grid-column: 4 / span 3;
    margin-bottom: 20px;
}

.grid-item:nth-child(13) {
    grid-row: 5;
    grid-column: 7 / span 3;
    margin-bottom: 20px;
}

.grid-item:nth-child(14) {
    grid-row: 5;
    grid-column: 10 / span 3;
    margin-bottom: 20px;
}

/* row 6 */
.grid-item:nth-child(15) {
    grid-row: 6 / span 3;
    grid-column: 1 / span 3;
}

.grid-item:nth-child(16) {
    grid-row: 6;
    grid-column: 4 / span 3;
}

.grid-item:nth-child(17) {
    grid-row: 7;
    grid-column: 4 / span 3;
}

.grid-item:nth-child(18) {
    grid-row: 8;
    grid-column: 4 / span 3;
}

.grid-item:nth-child(19) {
    grid-row: 6;
    grid-column: 7 / span 3;
}

.grid-item:nth-child(20) {
    grid-row: 7;
    grid-column: 7 / span 3;
}

.grid-item:nth-child(21) {
    grid-row: 8;
    grid-column: 7 / span 3;
}


.grid-item:nth-child(22) {
    grid-row: 6 / span 3;
    grid-column: 10 / span 3;
}