* {
    margin: 0;
    padding: 0;
}

.caja {
    margin: 25px;
    width: 200px;
    height: 300px;
    border: 2px solid red;
    display: inline-block;
}

.caja-zoom {
    margin: 25px;
    width: 200px;
    height: 300px;
    border: 2px solid red;
    display: inline-block;
    overflow: hidden;
}

.contain img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover-zoom img {
    height: 200%;
    width: 200%;
    object-fit: cover;
    object-position: -12em;

}

.none img{
    height: 100%;
    width: 100%;
    object-fit: none;
}

.scale img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
