
<!-- header -->
<app-header> </app-header>

<div class="container">

    <!--Section: About v.1-->
    <section class="section pb-5">

        <!--Section heading-->
        <h2 class="section-heading h1 pt-4 text-center" >Sobre MDB</h2>
        <!--Section description-->
        <p class="section-description pb-4 text-center">En MDB te ofrecemos mucho más que moda, te ofrecemos toda una experiencia a nivel de compras. Nuestro objetivo es que puedas disfrutar de un excelente Servicio de Atención al Cliente y de un amplio surtido de artículos de moda. Comprar online nunca ha sido tan fácil y seguro.</p>

    <!-- Card deck -->
    <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../../../assets/somos.JPG"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">QUIENES SOMOS</h4>
                <!--Text-->
                <p class="card-text text-center">Ademas de tus fans incondicionables</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <p class="card-text text-center">
                    <button type="button" mdbBtn color="light" mdbWavesEffect class="text-center">VER TODO</button>
                </p>


            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../../../assets/experiencia.JPG"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">TU EXPERIENCIA MDB</h4>
                <!--Text-->
                <p class="card-text text-center">Nosotros la diseñamos tu la llevas</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <p class="card-text text-center">
                    <button type="button" mdbBtn color="light" mdbWavesEffect class="text-center">DESCUBRIR AHORA</button>
                </p>

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../../../assets/marca.JPG"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title text-center">MARCA MDB</h4>
                <!--Text-->
                <p class="card-text text-center">Nosotros la diseñamos tu la llevas</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <p class="card-text text-center">
                    <button type="button" mdbBtn color="light" mdbWavesEffect class="text-center">VALORES DE MDB</button>
                </p>

            </div>

        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->
    </section>
</div>


<!-- /.Footer -->
<app-footer> </app-footer>