* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.div-responsive {
    background: #c95;
}
  
@media screen and (min-width: 500px) and (max-width: 750px) {
    .div-responsive{
        background: red;
    }
}

@media screen and (min-width: 750px) and (max-width: 950px) {
    .div-responsive{
        background: greenyellow;
    }
}

@media screen and (min-width: 950px) {
    .div-responsive{
        background: #000;
        color: white;
    }
}