@import url(https://fonts.googleapis.com/css?family=Roboto:400);
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}



body{
    /* background-color: url("https://images.unsplash.com/photo-1558976828-9ed9a0c8f4c6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ"); */
    background-color: rgb(19,30,58, 0.9);
}

.container{
    height: 600px;
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: 55% 45%;
    position: relative;
}

.container-info{
    /* border: 3px solid green; */
    margin: auto;
    margin-left: 30px;
    color: white;

}

.container-info-titulo{
    font-size: 300%;
}

.container-info-parrafo{
    font-size: 150%;
    margin: 5px;
}

form{
  /* border: 3px solid green; */
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  background-color: rgb(6,10,37, 0.9);
  margin-top: 30px;
}

.form-titulo {
    font-size: 150%;
    text-align: center;
    margin-bottom: 12px;
    color: white;
    margin-bottom: 35px;
}

.form-parrafo {
    color: white;
}

.grid-container{
    display: grid;
    color: white;
    grid-template-columns: 50% 50%;

}

.grid-item {
    margin: 4px;
}

.grid-item input, .grid-item textarea{
    padding: 10px;
}


.grid-item:first-child{
    grid-column: 1 / 3;
}

.grid-item:nth-child(4){
    grid-column: 1 / 3;
}

.grid-item:nth-child(7){
    grid-column: 1 / 3;
}

.grid-item:nth-child(8){
    grid-column: 1 / 3;
}

.grid-item:nth-child(9){
    grid-column: 1 / 3;
}

.grid-item:nth-child(10){
    grid-column: 1 / 3;
}

input, textarea {
    width: 100%;
}

input[type=submit] {
	background-color: rgb(0,151,254);
    font-size: 150%;
    color: white;
    
}


textarea { resize: none; }

span.error{ color: red; font-size: 0.8em; }