* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, #fff, #ccc);
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background-color: #333;
    grid-auto-flow: dense;
    height: 600px;
    align-items: center;
    justify-items: center;

}
 
.grid-item{
    border: 1px solid #000;
    background: #999;
    font-size: 30px;
    padding: 50px;

}

.grid-item:first-child {
    align-self: start;
    justify-self: start;
    background: red; 
}

.grid-item:nth-child(3) {
    align-self: start;
    justify-self: end;
    background: red;
}

.grid-item:nth-child(4) {
    justify-self: end;
}

.grid-item:nth-child(5) {
    background: lightgreen; 
}

.grid-item:nth-child(6) {
    justify-self: start;
}

.grid-item:nth-child(7) {
    align-self: end;
    justify-self: start;
    background: red;
}

.grid-item:last-child {
    align-self: end;
    justify-self: end;
    background: red;
}
