body{
    margin-left: 20px;
    margin-top: 20px;
}

#first-container{
    float: left;
    display: flex;
    flex-direction:column;
    padding-right: 40px;
}

#second-container{
    float: left;
    padding-right: 40px;
}

#third-container{
    float: left;
}

body{
    background-color: #00a5db;
}

form label{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    border: 2px solid white;
    width: 100%;
    background-color: #00a5db;
    margin-bottom: 15px;
}

select{
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
}

textarea{
    width: 100%;
    border: 2px solid white;
}

option{
    color: black;
}