* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, #fff, #ccc);
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

b {
    transition: opacity 0.3s;
    opacity: 0;
    display: inline-block;
}

b:first-child {
    position: relative;
    top: 10%;
}

b:nth-child(2) {
    position: relative;
    top: -10%;
}

div:first-child:hover > 
    .absolute b {
        margin: auto;
        color: #fff;
        font-size: 70px;
        transform: scaleY(1.1);
        opacity: 1;
    }

b:hover {
    color: #999 !important;
}

img:first-child:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}