@media (max-width: 768px){
    .center_punto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
}

@media (max-width: 576px){
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }
}

