<!-- header -->
<app-header> </app-header>

<!-- carousel -->
<div class="container mt-5 mb-5">
    <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
            <img class="d-block w-100" src="../assets/carousel.JPG" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="d-block w-100" src="../assets/carousel2.JPG" alt="Second slide">
        </mdb-carousel-item>

    </mdb-carousel>
</div>

<!-- /.carousel -->

<!-- /.TARJETAS -->

<div class="container mb-5">
    <div class="row">
        <!-- Card -->
        <div class="col-md-4 col-sm-6">
            <div class="view overlay waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img class="center" src="../assets/elegante.JPG" alt="Card image cap"></mdb-card-img>

            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title class="text-center">
                    <h4>LOOKS ELEGANTES</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text class="text-center">
                    Trajes, americanas y demás
                </mdb-card-text>


            </mdb-card-body>
        </div>

        <!-- Card -->
        <div class="col-md-4 col-sm-6">

            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img class="center" src="../assets/discreto.JPG" alt="Card image cap"></mdb-card-img>

            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title class="text-center">
                    <h4>TONOS DISCRETOS</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text class="text-center">
                    Colores, estáis apagados
                </mdb-card-text>


            </mdb-card-body>
        </div>

        <!-- Card -->
        <div class="col-md-4 col-sm-12">

            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img class="center_punto" src="../assets/punto.JPG" alt="Card image cap"></mdb-card-img>

            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title class="text-center">
                    <h4> PRENDAS DE PUNTO </h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text class="text-center">
                    Tus nuevas prendas favoritas
                </mdb-card-text>

            </mdb-card-body>
        </div>
    </div>

</div>


<!-- /.TARJETAS -->

<!-- /.Footer -->
<app-footer> </app-footer>