body{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    background-position: center;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 33%, rgba(237,237,237,1) 100%);
}

#container{
    border: 3px solid aqua;
    background-color: rgb(197, 197, 197);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

h3{
    text-align: center;
}

