// .center{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 350px;
//     height: 300px;
//     margin: -200px 0 0 -180px;
//     text-align: center;

// }



.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    width: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
}
