* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, #fff, #ccc);
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 100px);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    border: 3px solid #000;
    background-color: #333;
    grid-auto-flow: dense;
}
 
.grid-item{
    border: 1px solid #000;
    background: #999;
}

.grid-item:first-child {
}

.grid-item:nth-child(3) {
}

.grid-item:nth-child(5) {
}
