* {
    margin: 0;
    padding: 0;
}

.cont {

    border: 4px solid red;
    background: grey;
    width: 60%;
    padding: 20px; 
    margin: 40px auto;
    overflow: hidden;
    
}

.cont img {
    float: left;
    width: 300px;
    margin-right: 18px;

}


