body{
    width: 40%;
    margin: 0 auto; 
}

div {
    margin: .4em 0;
  }

  div label {
    width: 50%;
    float: left;
    margin-left: 15px;
  }

  fieldset{
      margin-bottom: 10px;
   }

  legend{
      font-style:italic;
  }

  .padre{
    display: flex;
    justify-content: center;
  }

  input[type="submit"], input[type="reset"] {
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12.5px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 1px solid #29487d;
    color: white;
  }



  form input{
        width: 40%;
  }

  :focus{
    background-color:slategrey;
}

h2{
  text-align: center;
}
