* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, #fff, #ccc);
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: 150px 150px 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    border: 3px solid #000;
}

.grid-item{
    border: 1px solid #000;
}

.grid-item:first-child {
      background: #900;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
}

.grid-item:nth-child(2) { 
    background: #090;
    grid-column: 3 / span 2;
}