body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
}

#contenido{
    width: 980px;
    margin: 0 auto;
}

header{
    width: 980px;
    height: 120px;
    background-color:yellowgreen;
}

header h1{
    text-align: center;
    padding: 10px;
}

#menu{
    float: left;
    background-color: teal;
    width: 300px;
    height: 250px;
}

#main{
    float: right;
    width: 680px;
    height: 250px;
    background-color:thistle;
}


#seccion1{
    margin: 0 auto;
    width: 620px;
    height: 80px;
    background-color:violet;
    border-bottom: 8px solid thistle;
}

#seccion2{
    margin: 0 auto;
    width: 620px;
    height: 80px;
    background-color:white;
}

footer{
    float: left;
    width: 980px;
    height: 80px;
    background-color: gold;
}